@import "theme.css";

* {
  all: initial;
  color: @mod-fg;
  font-family: "CommitMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
}

button {
  border-radius: 16px;
  min-width: 16px;
  padding: 0 10px;
}
button:hover {
  background-color: @hover-bg;
  color: @hover-fg;
}

tooltip {
  border: 1px solid @hover-border;
  border-radius: 10px;
  background-color: @hover-bg;
}
tooltip > box {
  padding: 0 6px;
}

.module {
  margin-bottom: -1px;
}

#mpris {
  padding: 0 12px;
}

#custom-user:hover,
#custom-internal_space:hover,
#clock.date:hover,
#network:hover,
#bluetooth:hover,
#custom-update:hover,
#mpris:hover,
#pulseaudio:hover,
#wireplumber:hover {
  color: @hover-fg;
}

#custom-internal_space.deactivated,
#mpris.paused,
#pulseaudio.output.muted,
#pulseaudio.input.source-muted,
#wireplumber.muted {
  color: @hover-fg;
}

#memory.warning,
#cpu.warning,
#battery.warning {
  color: @warning;
}

#temperature.critical,
#memory.critical,
#cpu.critical,
#battery.critical {
  color: @critical;
}

#battery.charging {
  color: @charging;
}

#pulseaudio.output,
#pulseaudio.input,
#wireplumber,
#backlight,
#temperature,
#memory,
#cpu,
#clock,
#disk,
#custom-gpu,
#battery {
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px 0px 3px 3px;
  box-shadow: inset 0 -2px 0 @mod-border;
  min-width: 50px;
}

#bluetooth {
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px 0px 3px 1px;
  box-shadow: inset 0 -2px 0 @mod-border;
  min-width: 50px;
}

#custom-update,
#network {
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px 4px 3px 0;
  box-shadow: inset 0 -2px 0 @mod-border;
  min-width: 50px;
}

#workspaces {
  border-radius: 10px;
  margin-right: 5px;
  padding: 3px 6px 3px 6px;
  color: @mod-fg;
  box-shadow: inset 0 -2px 0 @mod-border;
}

#workspaces button.active label,
#workspaces button.focused label {
  color: @active;
}

#window {
  margin: 0 12px;
}

#custom-distro {
  padding: 0 6px 0 1px;
  background-color: @logo-bg;
  color: @logo-fg;
}

#custom-right_div,
#custom-left_div {
  color: @logo-bg;
  font-size: 22px;
}

#clock {
  padding-right: 16px;
  padding-left: 19px;
}

#window label,
#mpris,
tooltip label {
  font-weight: normal;
}

#workspaces button.active label,
#workspaces button.focused label,
#custom-distro {
  font-size: 16px;
}

#waybar,
#waybar > box {
  background-color: @transparent;
}
