* {
    bg-base:             #1f020d;
    bg-surface:          #0f2422;
    bg-input:            #11111b;
    text-main:           #cdd6f4;
    text-muted:          #6c7086;
    
    gold-box: linear-gradient( 
        45deg,
        #ffee00,
        #a16c00,
        #ffe655,
        #fff4a3,
        #a16c00
    );
    
    font: "IosevkaCustom Nerd Font Extended 14";
}

configuration {
    show-icons:                 true;
    display-drun:               "󰣇 ";
    display-run:                " ";
    drun-display-format:        "{name}";
}

window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    width:                       50%;
    enabled:                     true;
    border-radius:               32px;
    background-color:            @bg-base;
}

mainbox {
    enabled:                     true;
    background-color:            transparent;
    children:                    [ "searchbox", "listview" ];
}

searchbox {
    height:                      220px;
    expand:                      false; 
    enabled:                     true;
    padding:                     80px 40px;
    border-radius:               32px 32px 0px 0px;
    background-color:            #243656;
    background-image:            url("/home/tieppo/.local/share/wallpapers/boat.jpg", width);
    children:                    [ "inputbar" ];
}

inputbar {
    enabled:                     true;
    spacing:                     15px;
    padding:                     15px 25px;
    border-radius:               100px;
    background-color:            @bg-input;
    children:                    [ "prompt", "entry" ];
}

prompt {
    enabled:                     true;
    background-color:            transparent;
    text-color:                  #cba6f7;
    font:                        "IosevkaCustom Nerd Font Extended 16";
}

entry {
    enabled:                     true;
    background-color:            transparent;
    text-color:                  @text-main;
    cursor:                      text;
    placeholder:                 "Digite para buscar ou execute sh: ...";
    placeholder-color:           @text-muted;
    vertical-align:              0.5;
}

listview {
    enabled:                     true;
    columns:                     2;
    lines:                       6;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    expand:                      true;
    fixed-height:                true;
    padding:                     30px;
    background-color:            transparent;
}

element {
    enabled:                     true;
    spacing:                     20px;
    padding:                     12px 20px;
    border-radius:               100px;
    background-color:            transparent;
    text-color:                  @text-main;
    cursor:                      pointer;
}

element normal.normal,
element alternate.normal {
    background-color:            transparent;
    text-color:                  @text-main;
}

element selected.normal {
    background-image:            @gold-box;
    text-color:                  #11111b;
}

element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        32px;
    cursor:                      inherit;
}

element-text {
    background-color:            transparent;
    text-color:                  inherit;
    highlight:                   inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    font:                        "IosevkaCustom Nerd Font Extended 13";
}
