[Unit]
Description=KMonad keyboard remapping
After=local-fs.target

[Service]
Type=simple
ExecStartPre=/usr/bin/modprobe uinput
ExecStart=/usr/bin/kmonad /home/tieppo/.config/kmonad/config.kbd
Restart=always
RestartSec=1
User=root
Group=root

[Install]
WantedBy=multi-user.target

